@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "dm-sans-regular";
  src: url("../public/fonts/DM_Sans/static/DMSans-Regular.ttf");
}

@font-face {
  font-family: "dm-sans-light";
  src: url("../public/fonts/DM_Sans/static/DMSans-Light.ttf");
}

@font-face {
  font-family: "dm-sans-bold";
  src: url("../public/fonts/DM_Sans/static/DMSans-Black.ttf");
}

* {
  font-family: "dm-sans-regular", sans-serif;
  font-size: inherit;
}

p {
  font-family: "dm-sans-light", sans-serif;
  /* max-width: 500px; */
  /* text-align: center; */
}

h1,
h2,
h3,
h4,
h5,
h6 > * {
  font-family: "dm-sans-bold", sans-serif;
}

img {
  width: 100%;
}

.booking-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
  flex-wrap: wrap;
  position: relative;
  /* top: -30px; */
  margin: 10px;
  /* max-width: 80%; */
}

.booking-form article {
  margin: 10px;
  width: 250px;
}
@media only screen and (max-width: 500px) {
  .booking-form {
    display: none;
  }
}
